<%= form_for @listing, :html => { multipart: true } do |f| %>
	<div class="form-container">
		<div class="form-header">
			New Listing
		</div>
	
		<div class="form-body">
			<%= render 'shared/error_messages', object: f.object %>
			<table class="full-width">
				<tr>
					<td class="form-label"><%= f.label :title %></td>
					<td class="form-box"><%= f.text_field :title, class: 'form-control full-width-92', placeholder: :title, required: true %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :home_type %></td>
					<td class="form-box"><%= f.text_field :home_type, class: 'form-control full-width-92', placeholder: :home_type, required: true %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :description %></td>
					<td class="form-box"><%= f.text_area :description, class: 'form-control full-width-92', placeholder: :description, required: true %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :location %></td>
					<td class="form-box"><%= f.text_field :location, class: 'form-control full-width-92', placeholder: :location%></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :guest %></td>
					<td class="form-box"><%= f.number_field :guest, class: 'form-control full-width-92', min: '0', placeholder: '0' %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :bedroom %></td>
					<td class="form-box"><%= f.number_field :bedroom, class: 'form-control full-width-92', min: '0', placeholder: '0' %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :tag_list, "Tags (saperate tags using commas)" %></td>
					<td class="form-box"><%= f.text_field :tag_list, class: 'form-control full-width-92' %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :price %></td>
					<td class="form-box"><%= f.text_field :price, class: 'form-control full-width-92', placeholder: :price %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :breakfast %></td>
					<td class="form-box"><%= f.check_box :breakfast, class: 'form-control form-check-box' %></td>
				</tr>
				<tr>
					<td class="form-label"><%= f.label :image %></td>
					<td class="form-box"><%= f.file_field :images, multiple: true, class: 'form-control full-width-92' %></td>
				</tr>
			</table>
		</div>
	</div>
	<%= f.submit 'Create', class: 'btn btn-block btn-large btn-pink center-layout'%>
<% end %>