<div>
  <%= form_for @listing do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: :title, required: true %>
    <%= f.label :home_type %>
    <%= f.text_field :home_type, class: 'form-control', placeholder: :home_type, required: true %>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: :description, required: true %>
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control', placeholder: :location%>
    <%= f.label :guest %>
    <%= f.number_field :guest, class: 'form-control', min: '0', placeholder: '0' %>
    <%= f.label :bedroom %>
    <%= f.number_field :bedroom, class: 'form-control', min: '0', placeholder: '0' %>
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', placeholder: :price%>
    <%= f.submit class: 'btn btn-large btn-pink' %>
  <% end %>
</div>