<% @listings.each do |listing| %>
	<div class="listing-item">
		<div class="listing-item-image">
			<%= link_to (image_tag listing.images[0]), listing_path(listing) %>
		</div>
		<div class="listing-item-title">
			<%= link_to listing.title, listing_path(listing) %>
		</div>
		<div class="listing-item-info">
			<div class="listing-location">
				<%= listing.home_type %> · <%= listing.location.capitalize %> · <i class="fa fa-star fa-color-yellow"></i><i class="fa fa-star fa-color-yellow"></i><i class="fa fa-star fa-color-yellow"></i><i class="fa fa-star fa-color-yellow"></i><i class="fa fa-star fa-color-yellow"></i>
			</div>
			<div class="listing-item-user">
				<a href="/users/<%= listing.user.id %>"><%= image_tag listing.user.avatar, class: 'listing-item-avatar' %></a>
			</div>
		</div>
	</div>
<% end %>