<div id="listing-divider">
	<div id="listing-left">
		<div id="listing-tools">
			<% if logged_in? %>
				<%= link_to (button_tag "Add new listing", class: "btn btn-block btn-large btn-pink"), new_listing_path %>
				<% if !current_user.reservations.empty? %>
					<h3 class="listing-tools-title">Your Reservations</h3>
					<% current_user.reservations.each do |reservation| %>
						<hr>
						<div class="listing-reservation">
							<div class="listing-reservation-item">
								<div class="listing-reservation-item">
									<%= image_tag reservation.listing.images[0] if !reservation.listing.images[0].nil? %>
								</div>
								<div class="listing-reservation-item">
									<%= reservation.listing.title %><br>
									<%= reservation.checkin.strftime("%e %b %Y") %> until <%= reservation.checkout.strftime("%e %b %Y") %>
								</div>
							</div>
							<div class="listing-reservation-item">
								<%= link_to (button_tag "Delete", class: "btn btn-block btn-large btn-pink"), listing_reservation_path(reservation.listing, reservation), method: 'delete' %>
							</div>						
						</div>
					<% end %>
				<% end %>
			<% end %>
			<h3 class="listing-tools-title">Filter</h3>
			<hr>
			<div class="listing-reservation-item">
				<%= form_tag filter_listings_path, id: 'filter-form', remote: true do %>
					<%= hidden_field_tag :location, @listings.first.location %>
					Price Range <%= text_field_tag :from, nil, class: 'form-control' %> to <%= text_field_tag :to, nil, class: 'form-control' %> <%= submit_tag 'Filter', class: 'btn btn-medium btn-pink', id: 'filter-btn' %>
				<% end %>
			</div>
		</div>
		<div id="listing-container">
			<div id="loading"></div>
			<% if !@listings.nil? %>
				<div id="listing-main">
					<%= render 'listing_item', object: @listings %>
				</div>
			<% else %>
				<p>No listing yet</p>
			<% end %>
		</div>
		<div class="digg_pagination">
	    <div class="page_info">
	      <%= page_entries_info @listings %>
	    </div>
	    <%= will_paginate @listings, :container => false, previous_label: "&#9664;", next_label: "&#9654;" %>
	  </div>	
	</div>
	<div id="listing-map">
		<div id="listing-map-canvas"></div>
	</div>
</div>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP_KEY'] %>">
  </script>
  <script type="text/javascript">
    function set_map(state, city){
      var mapOptions = {
        center: new google.maps.LatLng(25.687944,-100.309403),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("listing-map-canvas"),
      mapOptions);
      
      if(state == ""){
        address = city;
      }else{
        address = state + ',' + city;
      }

      var geocoder = new google.maps.Geocoder();

      geocoder.geocode({
        'address':address
      },
      
      function(result, status){
        if (status == google.maps.GeocoderStatus.OK){
          map.setCenter(result[0].geometry.location);

          var marker = new google.maps.Marker({
            map: map,
            position: result[0].geometry.location
          });
        }else{
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
      return false;
    }

    $(document).ready(function(){
      set_map('', '<%= @listings.first.location %>');
    })
  </script>