<nav class="nav-white">
	<div class="nav-logo nav-logo-border nav-hover">
		<a href="<%= root_path %>"><%= image_tag("waterbnb_logo.png", size: "168x32", alt: "Waterbnb") %></a>
	</div>
	<div class="nav-search">
		<form action="<%= listings_path %>">
			<input type="text"placeholder="Where are you going?" name="search">
		</form>
	</div>
	<div class="nav">
		<% if signed_in? %>
		  <div class="nav-hover" style="padding-top: 20px; padding-bottom: 20px;"><a href="/users/<%= current_user.id %>"><%= current_user.name %><%= image_tag current_user.avatar, class: 'avatar avatar' %></a></div>
		  <div class="nav-hover"><%= link_to 'Sign out', sign_out_path, method: :delete %></div>
		<% else %>
		  <div class="nav-hover"><%= link_to 'Log In', sign_in_path %></div>
			<div class="nav-hover"><%= link_to 'Sign Up', sign_up_path %></div>
		<% end %>
		<div class="nav-hover">Help</div>
		<div style="border-left: none;">
			<% if logged_in? && !current_user.listings.empty? %>
				<%= link_to 'Host', listings_path %>
			<% else %>
				<span class="host"><a href="<%= new_listing_path %>">Become a Host</a></span>
			<% end %>
		</div>
		</div>
	<div class="clearfix"></div>
</nav>